/* background-image: linear-gradient(to right, #20002c, #cbb4d4); */
/* Custom Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

h2 {
    color: #43254E;
}

.margin-top {
    margin-top: 80px;
}

.navbar {
    background-color: #43254E;
}

.navbar-brand {
    font-size: 2.5rem;
}

.nav-link {
    font-size: 1.2rem;
}

#carouselExampleIndicators {
    height: 550px;
}

.carousel {
    background-color: #43254E;
}

#slider-btn {
    background-color: #F27925;
}

#card-btn {
    color: #FFFFFF;
    background-color: #20002c;
    border: 2px solid transparent;
}

#card-btn:hover {
    background-color: #FFFFFF;
    color: #20002c;
    border: 2px solid #20002c;
}

@media screen and (min-width:280px) and (max-width:767px) {
    #carouselExampleIndicators {
        height: 610px;
    }
}